# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=deribit_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# App
DEBUG=False
APP_HOST=0.0.0.0
APP_PORT=8000